src/main/resources/META-INF/rpc-consume-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.lxr.com/schema/consume"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.lxr.com/schema/consume" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:element name="serviceBind" >
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceConsume" type="serviceConsume"
					maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required" />
			<xsd:attribute name="zkAddress" type="xsd:string" use="required"  />
			<xsd:attribute name="clientGroup-thread-nums" type="xsd:int" default="50" use="optional"  />
			<xsd:attribute name="protocol"  use="optional"
				default="HESSIAN">
				<xsd:simpleType>
					<xsd:restriction  base="xsd:string">
						<xsd:enumeration value="JDK" />
						<xsd:enumeration value="HESSIAN" />
						<xsd:enumeration value="JACKSON" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="loadBanlance"  use="optional"
				default="random">
				<xsd:simpleType>
					<xsd:restriction  base="xsd:string">
						<xsd:enumeration value="random" />
						<xsd:enumeration value="roundRobin" />
						<xsd:enumeration value="ip" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="proxy"  use="optional"
				default="JDK">
				<xsd:simpleType>
					<xsd:restriction  base="xsd:string">
						<xsd:enumeration value="JDK" />
						<xsd:enumeration value="CGLIB" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="serviceConsume">
		<xsd:attribute name="interface" type="xsd:string" use="required" />
			<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>




</xsd:schema>