src/main/resources/META-INF/rpc-consume-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.lxr.com/schema/consume"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.lxr.com/schema/consume" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:element name="serviceBind" >
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="serviceConsume" type="serviceConsume"
					maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required" />
			<xsd:attribute name="zkAddress" type="xsd:string" use="required"  />
			<xsd:attribute name="protocol"  use="optional"
				default="HESSIAN">
				<xsd:simpleType>
					<xsd:restriction  base="xsd:string">
						<xsd:enumeration value="JDK" />
						<xsd:enumeration value="HESSIAN" />
						<xsd:enumeration value="JACKSON" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="serviceConsume">
		<xsd:attribute name="class" type="xsd:string" use="required" />
			<xsd:attribute name="timeout" type="xsd:int" >
		<!-- 		<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:maxInclusive value="5000"></xsd:maxInclusive>
						<xsd:minInclusive value="2000"></xsd:minInclusive>
					</xsd:restriction>
				</xsd:simpleType> -->
			</xsd:attribute>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			
	</xsd:complexType>




</xsd:schema>